
=div_for issue do
	%h2= link_to issue.title, users_issue_path(issue)
	%p= issue.description
	-if current_user = issue.user and user_signed_in?
		%p= link_to "delete", [:users, issue], :method => :delete, :remote => true
